/* styles/animations.css */
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-gradient-animate {
  width: 100vw;
  height: 100dvh; /* dynamic viewport height */
  background: linear-gradient(270deg, #fcd34d, #f472b6, #a78bfa, #06b6d4);
  background-size: 800% 800%;
  animation: gradientShift 15s ease infinite;
  will-change: background-position;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100dvh;
  background: linear-gradient(270deg, #fcd34d, #f472b6, #a78bfa, #06b6d4);
  background-size: 800% 800%;
  animation: gradientShift 15s ease infinite;
  will-change: background-position;
}
